body {
  font-size: large;
  background-color: rgb(19, 33, 68);
  font-family: 'DIN Condensed','Arial Narrow','Avenir','Trebuchet MS',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#SampleList{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
}

.SampleCard{
  background-color: rgba(116, 151, 255, 0.3);
  border-radius: 1rem;
  margin: 1rem;
  justify-content: center;
  justify-items: center;
}
.Header {
  line-height: 20px;
}
.Navbar {
  display: flex;
  font-size: larger;
  justify-content: center;
  background-color:rgba(116, 151, 255, 0.3);
  border-radius: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  filter: drop-shadow(2px 2px 3px rgb(0,0,0))
}
.NavbarLinks {
  text-shadow: 3px 3px rgb(0, 0, 0);
}

#Footer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin: 1rem;
}

h1, h2, h3 {
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h1, h2{
  text-shadow: 3px 3px rgb(0, 0, 0);
}

h3 {
color: rgb(255, 255, 255);
}

b {
  color:rgba(0, 255, 247, 0.847)
}

.NavbarLinks:hover{
  transform: scale(1.05);
}

a {
  color:rgb(0, 170, 255);
  text-shadow: none;
  position:relative;
}

p {
  font-size: large;
  text-align: justify;
  text-shadow: 3px 3px rgb(0, 0, 0);
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
}

#profilePic {
  border-radius: 1rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  float: left;
  max-width: 11rem;
  filter: drop-shadow(2px 2px 3px rgb(0,0,0))
}

.samplePics{
  float:left;
  border-radius: 1rem;
  margin-right: 1rem;
  max-width: 8rem;
  filter: drop-shadow(2px 2px 3px rgb(0,0,0))
}
.About {
  margin: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footerCard{
  font-size: medium;
  border-radius: 0.5rem;
  background-color: rgba(116, 151, 255, 0.3);
  line-height: 16px;
  margin: 0.3rem;
  padding:0.2rem;
  max-width: auto;
  text-align: left;
  display: block;
}

.footerCard:hover{
  transform: scale(1.02);
}

#toffeePic{
  max-width: 12rem;
  padding: 0.5rem;
  border-radius: 2rem;
  filter: drop-shadow(2px 2px 3px rgb(0,0,0))
}
@media (min-width: 750px){
  .Navbar {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  body {
    font-size: large;
  }
  .sampleText {
    display: flex;
    padding-bottom: 1rem;
    margin-right: 4rem;
    margin-left: 23rem;
  }

  #Footer{
    flex-direction: row;
  }
.samplePics{
  max-width: 21rem;
  max-height: 20rem;
  margin-bottom: 1rem;
}
}