body {
  font-size: large;
  background-color: rgb(23, 33, 61);
  font-family: 'DIN Condensed','DIN Alternate','Silom','Segoe UI Black','Tahoma',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Navbar {
  display: flex;
  font-size: larger;
  justify-content: center;
  background-color: rgb(93, 105, 137);
  border-radius: 0.5rem;
  margin-left: 3rem;
  margin-right: 3rem;
  filter: drop-shadow(2px 2px 3px rgb(0,0,0))
}

h1, h2, h3 {
  color: white;
  text-shadow: 2px 2px rgb(0, 0, 0);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h3 {
color: rgb(255, 255, 255);
}
h3:hover{
  transform: scale(1.1);
}

a {
  color:rgb(0, 170, 255);
}

p {
  text-align: justify;
  color: white;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-shadow: 2px 2px rgb(0, 0, 0);
}

#profilePic {
  border-radius: 1rem;
  margin: 1rem;
  float: left;
  max-width: 10rem;
  filter: drop-shadow(2px 2px 3px rgb(0,0,0))
}

.samplePics{
  float:left;
  border-radius: 1rem;
  margin: 1rem;
  max-width: 10rem;
  filter: drop-shadow(2px 2px 3px rgb(0,0,0))
}

.About {
  margin: 2rem;
}

.content {
  margin: 2rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (min-width: 600px){
  .Navbar {
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .content {
    margin: 2rem;
  }


.samplePics{
  max-width: 15rem;
}
}