body {
  background-color: rgb(49, 65, 44);
  margin: 1rem;
  font-family: 'DIN Condensed','DIN Alternate','Silom','Segoe UI Black','Tahoma',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(133, 192, 115);
  border-radius: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

h1 {
  color: rgb(231, 241, 231);
  text-shadow: 2px 2px rgb(1, 23, 1)

}
h3 {
  color: rgb(214, 229, 214);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-shadow: 2px 2px rgb(1, 23, 1)
}

p {
  color: rgb(214, 229, 214);
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-shadow: 2px 2px rgb(1, 23, 1)
}

#profilePic {
  border-radius: 3rem;
  margin: 1rem;
  float: left;
  max-width: 10rem;
  filter: drop-shadow(5px 5px 3px rgb(1, 23, 1))
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
